{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-lg-7">

            <div class="card shadow-sm p-4">

                <h3 class="mb-4">Редактирование профиля</h3>

                <form method="POST">

                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Имя</label>
                        <input type="text" name="first_name"
                               value="{{ user.first_name }}"
                               class="form-control">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Фамилия</label>
                        <input type="text" name="last_name"
                               value="{{ user.last_name }}"
                               class="form-control">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" name="email"
                               value="{{ user.email }}"
                               class="form-control">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">О себе</label>
                        <textarea name="bio" rows="5"
                                  class="form-control">{{ user.bio }}</textarea>
                    </div>

                    <button class="btn btn-primary w-100">
                        Сохранить изменения
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}